html {
  font-family: "Manrope", sans-serif;
}

section {
  /* height: 300vh; */
  box-sizing: border-box;
}

.scroll-container {
  position: relative;
}

.number-container {
  position: fixed;
  display: flex;
  justify-content: flex-end; /* Align the number to the right */
  align-items: center;
  bottom: 2em;
  left: 2em;
}

#number {
  font-size: 1rem; /* Initial font size */
  opacity: 50%;
  text-align: right;
}

/************** Formation *************/
#formation {
  background-color: #1f1f1f; /* Start with black */

}

#formation-container {
  width: 100%;
}

#formation circle {
  fill: #eaeaea;
  /* stroke: #ffffff;
  stroke-width: 2; */
}

/************** Single-Cell *************/
.circle {
  border-radius: 50%;
  transform: translate(-50%, -50%);
}

#single-cell {
  background-color: #2d2d2d;
  position: relative;
}

#single-cell path {
  fill: none;
  stroke: #fff;
  stroke-width: 3;
}

#single-cell .cell {
  width: 50px;
  height: 50px;
  opacity: 0.5;

  position: absolute;
  left: 50%;
  top: 50vh;
}

.sun {
  width: 100%;
  aspect-ratio: 1/1;
  background-color: rgb(255, 179, 87);
  position: absolute;
  left: 50%;
}

/************** Photosynthesis *************/

.proterozoic {
  background-color: #708d7f;
}


#plant path {
  fill: none;
}

.phanerozoic {
  background-color: #91b2c8;
}

#conclusion {
  height: 200vh;
  background-color: #ff7373;
}

/******* CSS RESET *********/
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

body {
  margin: 0;
}

section {
  margin: 0;
}
