body {
  font-family: "Manrope", sans-serif;
  background-color: #181a1b;
}

section {
  position: relative;
  width: 100%;
}

svg {
  position: relative;
}

.scroll-container {
  /* position: relative; */
}

.number-container {
  position: fixed;
  display: flex;
  justify-content: flex-end; /* Align the number to the right */
  align-items: center;
  bottom: 2em;
  left: 2em;
  width: 6em;
}

#number {
  color: white;
  font-size: 1rem; /* Initial font size */
  opacity: 70%;
  text-align: right;
}

/************** Formation *************/
#formation {
  background-color: #181a1b;
}

#formation-container {
  width: 100%;
}

#formation circle {
  fill: #eaeaea;
}

/************** Single-Cell *************/
#single-cell .circle {
  border-radius: 50%;
  transform: translate(-50%, -50%);
}

#single-cell {
  /* background-color: #1f1f1f; */
}

#single-cell .cell {
  width: 10px;
  aspect-ratio: 1;
  opacity: 0.5;

  background-color: white;

  position: absolute;

  transform-origin: center;
}

/************** Photosynthesis *************/
.sun {
  width: 100%;
  aspect-ratio: 1/1;
  background-color: rgb(255, 179, 87);
  position: absolute;
  left: 50%;
}

/********** Oxygenation *****************/
#single-cell .particle {
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: white;
}

/********** Eukaryotes *****************/
#eukaryote {
  /* background-color: #1f1f1f; */
}

#eukaryote-container {
  height: 100%;
}

#cell1,
#cell2 {
  stroke: #9fbdbf;
  stroke-width: 2px;
  fill: #b1c0a3;
}

#mainCell {
  fill: #b1c0a3;
}

/********** Multicellular *****************/

#multi-cell {
}

#fungi-container {
  height: 19%;
}

#fungi {
  transform-origin: top;
}

#fungi line {
  stroke: #9fbdbf;
  stroke-width: 6px;
  stroke-dasharray: 6 6;
  stroke-linecap: round;
}

.mask {
  stroke: #9fbdbf;
  stroke-width: 10px;
}

/********** Sexual Reproduction *****************/

#reproduction {
  height: 70%;
}

#cell-group2 {
  display: grid;
  grid-template-columns: repeat(4, 20px); /* Adjust as needed */
  grid-gap: 10px; /* Adjust as needed */
}

#cell-group2 circle {
  fill: red;
}

#primary-cell,
#secondary-cell {
  fill: #9fbdbf;
}

.primary {
  fill: #fedc97;
}

.secondary {
  fill: #075b8d;
}

#cambrian {
  height: 11%;
}

#cambrian g {
  opacity: 0;
}

/********** Plants *****************/

.plant {
  width: 12em;
  height: 12em;
  transform-origin: center;
}

.row {
  display: flex;
  align-items: center;
  justify-content: center;
}

.leaf {
  width: 6em;
  height: 6em;
  z-index: 10;
}
.leaf1 {
  transform-origin: bottom right;
  border-radius: 0px 100px 0px 100px;
  background: linear-gradient(160deg, #3ec58a 0%, #08512f 100%);
}
.leaf2 {
  transform-origin: bottom left;
  border-radius: 100px 0px 100px 0px;
  background: linear-gradient(220deg, #3ec58a 0%, #08512f 100%);
}
.leaf3 {
  transform-origin: top right;
  border-radius: 100px 0px 100px 0px;
  background: linear-gradient(30deg, #3ec58a 0%, #08512f 100%);
}
.leaf4 {
  transform-origin: top left;
  border-radius: 0px 100px 0px 100px;
  background: linear-gradient(320deg, #3ec58a 0%, #08512f 100%);
}

#extinction1 .leaf {
  width: 10em;
  height: 10em;
  z-index: 10;
}

/********** Modern *****************/
.phanerozoic {
  background-color: #e3e9ef;
}

.organism {
  position: absolute;
}

.particle {
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.trilobite {
  height: 4em;
  width: 3em;
  clip-path: polygon(
    20% 0%,
    80% 0%,
    100% 20%,
    100% 80%,
    100% 100%,
    0 100%,
    0% 80%,
    0% 20%
  );
}

.graptolite {
  height: 6em;
  width: 3em;
  clip-path: polygon(39% 0, 0% 100%, 77% 63%);
}

.brachiopod {
  height: 4em;
  width: 4em;
  clip-path: polygon(25% 0%, 75% 0%, 100% 39%, 75% 100%, 25% 100%, 0 41%);
  background-color: #d7a83a;
}


#ordovican {
  height: 25%;
}

#devonian {
  height: 20%;
}

#permian {
  height: 25%;
}

#cretaceous {
  height: 20%;
}

#human{
  height: 10%;
}

#ordovican .trilobite,
.particle {
  background-color: #075b8d;
}

#ordovican .graptolite {
  background-color: #7c9885;
}



#devonian .trilobite {
  background-color: #78662d;
}

#devonian .graptolite {
  background-color: #53683a;
}



#cretaceous .tetrapod1 {
  height: 10em;
  width: 10em;
  clip-path: polygon(
    59% 11%,
    61% 44%,
    98% 35%,
    76% 60%,
    79% 91%,
    50% 70%,
    21% 91%,
    23% 50%,
    2% 35%,
    25% 15%
  );
  background-color: #cb3c3c;
}

#cretaceous .tetrapod2 {
  height: 6em;
  width: 6em;
  clip-path: polygon(
    49% 21%,
    80% 1%,
    98% 35%,
    76% 60%,
    57% 55%,
    40% 81%,
    23% 67%,
    4% 81%,
    2% 35%,
    30% 8%
  );

  background-color: #7386a6;
}

#cretaceous .tetrapod3 {
  height: 8em;
  width: 8em;
  clip-path: polygon(
    55% 18%,
    100% 25%,
    100% 78%,
    81% 100%,
    57% 82%,
    35% 82%,
    31% 41%,
    2% 43%,
    1% 21%,
    30% 0
  );

  background-color: #8f3251;
}

#human-circle{
  position: absolute;
  top: 50%;
  left: 50%;

  width: 6em;
  height: 6em;

  border-radius: 200px;

  background-color: black;
}

#conclusion {
  height: 200vh;
  background-color: #ff7373;
}

/******* CSS RESET *********/
/* Box sizing rules */
*,
*::before,
*::after {
  leaf-sizing: border-leaf;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

body {
  margin: 0;
}

section {
  margin: 0;
}
