html {
  font-family: "Manrope", sans-serif;
}

section {
  /* height: 300vh; */
  box-sizing: border-box;
}

.scroll-container {
  position: relative;
}

.number-container {
  position: fixed;
  display: flex;
  justify-content: flex-end; /* Align the number to the right */
  align-items: center;
  bottom: 2em;
  left: 2em;
}

#number {
  font-size: 1rem; /* Initial font size */
  opacity: 50%;
  text-align: right;
}

/************** Formation *************/
#formation {
  background-color: #1f1f1f; /* Start with black */
  height: 6400px;
}

#formation-container {
  width: 100%;
}

#formation circle {
  fill: #eaeaea;
  /* stroke: #ffffff;
  stroke-width: 2; */
}


/************** Single-Cell *************/
#single-cell {
  background-color: #2d2d2d;
  height: 6400px;
  position: relative;
}

#single-cell path {
  fill: none;
  stroke: #fff;
  stroke-width: 3;
}

#single-cell .cell {
  width: 50px;
  height: 50px;
  background-color: #3377DB;
  border-radius: 50%;

  position: absolute;
  left: 50%;
  top: 50vh;
  transform: translate(-50%, -50%);
}

/************** Photosynthesis *************/

#photosynthesis {
  background-color: #707070;
  height: 8000px;
}


#eukaryotes {
  background-color: #808080;
}
#multi-cell {
  background-color: #909090;
}
#fungi {
  background-color: #a0a0a0;
}

#plant {
  background-color: #b0b0b0;
}

#plant path {
  fill: none;
}

#reptiles {
  background-color: #c0c0c0;
}
#mammals {
  background-color: #d0d0d0;
}
#humans {
  background-color: #e0e0e0;
}
#conclusion {
  height: 200vh;
  background-color: #ff7373;
}

/******* CSS RESET *********/
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

body {
  margin: 0;
}

section {
  margin: 0;
}
