body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f0f0f0;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    min-width: 100%;
    max-width: 100%;
}

/* Unique styles for each div */
.grid-item {
    background-color: #3498db;
    color: #fff;
    padding: 20px;
    text-align: center;
    height: 25vh;
}

