/* Reset Defaults */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Libre Franklin", Arial, Helvetica, sans-serif;
}

body{
  color: white;
  background-color: rgb(68, 71, 74);

  display: flex;
  flex-direction: column;

  margin-left: 10em;
  margin-top: 2em;
}

nav {
  position: fixed;
  top: 0;
  left: 0;

  background-color: #333;
  padding: 1em;
  white-space: nowrap;

  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  background-color:  #0a0a23;

  row-gap: 0.5em;
  
  overflow-y: scroll;
}

ul {
  padding: 0;
}

nav a {
  font-weight: 700;
  color: #fff;
  text-decoration: none;
  padding: 8px;
  border-radius: 8px;
}

nav a:hover {
  background-color: #333;


}

.container {
  margin: auto;
  padding: 5em 0 5em 0;

  width: 100%;
  max-width: 1024px;
  min-width: 768px;

  display: flex;
  flex-direction: column;
  align-items: start;

  margin-bottom: 100vh;
}

.block {
  width: 10em;
  height: 10em;

  color: #222222;
  background-color: #93cae7;

  display: flex;
  align-items: end;
  justify-content: start;
  font-size: 1em;

  padding: 1em;
}

#block-2 {
  perspective: 10em;
}


.container1{
  align-items: center;
  row-gap: 1em;
}