body,
html {
  margin: 0;
  padding: 0;
  /* overflow-x: auto;
  overflow-y: hidden;  */
  white-space: nowrap;
}

.container {
  width: 100%; /* Full width */
  height: 100vh; /* Full height */

}

.content {
  width: 10000px; /* Set the width of your content */
  height: 100%; /* Full height */
  background-color: #f0f0f0; /* Background color */
}

img {
  display: block;
  max-width: 100%;
  max-height: 100%;
  /* border: 1px solid grey; */
  margin: 0;
}
