body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 2em 4em;
  background-color: rgb(221, 221, 221);
}

.content-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
  column-gap: 1em;
  row-gap: 1em;
}

.content img {
  width: 100%;
}

.content {
  padding: 1em;
  border-radius: 0.5em;
  display: flex;
  flex-direction: column;
  row-gap: 0.5em;
  background-color: white;
  position: relative;
}

h2 {
  margin: 0;
  font-size: 1em;
  /* line-height: 3em; */
}

.hide {
  background-color: #239985;
}

.hide:hover {
  background-color: #186e5f;
}

.hide:active {
  background-color: #27b49d;
}

button {
  background-color: #235a99;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 8px;
}

button:hover {
  background-color: #1b4a7f;
}

button:active {
  background-color: #2862a4;
}

#content-1 #img1 {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.screen-container {
  position: relative;
  display: inline-block;
  overflow: hidden;
}

.screen {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  z-index: 1;
}

#content-2 .screen {
  background-color: rgb(255, 255, 255);
  transition: transform 0.5s ease;
}

#content-2 #img2 {
  display: block;
  width: 100%;
  height: auto;
  z-index: 0;
}

.screen.moved {
  transform: translateX(100%);
}

#content-3 .screen {
  background-color: rgb(255, 255, 255);
}

.virus-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 100;
}

#miku-container {
  position: relative;
  height: 400px;
}

#miku-ascii {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 4px;
  z-index: 0;
  height: 100%;
  overflow: hidden;

  transition: height 2s ease;
}

#miku-image {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 1;
  height: 100%;
  z-index: 1;
  overflow: hidden;

  clip-path: polygon(0% 100%, 100% 100%, 100% 100%, 0 100%);

  transition: clip-path 2s ease;
}

#miku-image img {
  height: 380px;
}

/* Add a class to trigger the animation */
.visible {
  #miku-ascii {
    height: 0%;
  }
  #miku-image {
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
  }
}

#content-7 .image-container {
  position: relative;
  height: 100%;
}

#content-7 .image-container img {
  position: absolute;
  opacity: 0.3;
}

#content-8 {
  position: relative;
}

#sprite-container {
  z-index: 1;
  position: absolute;
  top: 50%;
  left: 40%;
  width: 20%;
  height: auto;
}

#poster {
  position: relative;
  z-index: 2;
  opacity: 0;
}

#catImage {
  filter: blur(10px);
}

#content-10 #moonImage {
  opacity: 0;
}

#content-11 #vid {
  width: 100%;
}

#content12-container {
  position: relative;
  width: 100%;
  height: 100%;
}

#content12-container img {
  position: absolute;
  height: 100%;
}

#colors {
  position: absolute;
  width: 100%;
  height: 100%;
}

#content-13 {
  .image-container {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 250px; /* Set container height */
  }

  #imageToLoad {
    position: absolute;
    top: 100%; /* Initially position image outside the container */
    left: 0;
    width: 100%;
    height: auto;
    transition: top 5s linear; /* Transition the top position over 5 seconds */
  }
}

#content-15 {
  #image-container {
    position: relative;
    display: flex;
    overflow: hidden;
  }

  .half-image {
    width: 50%;
    height: auto;
  }

  .screen {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255);
  }
}

#shibaImage {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1000;
  width: 48px;
  height: auto;
}

#ingredients {
  display: flex;
  flex-wrap: wrap; /* Allow images to wrap to the next line */
}

#ingredients img {
  display: none;
  flex: 1 0 auto;
  max-width: calc(100% / 4);
  object-fit: cover;
  margin: 5px;
}

#content-19 {
  #imageContainer {
    position: relative;
    height: 200px;
    background-color: black;
  }

  #imageContainer img {
    display: none;
  }
}

#content-20 {
  #main-interface {
    opacity: 0;
  }

  .image-container {
    position: relative;
    overflow: hidden;
    width: 100%;
  }

  .warning {
    position: absolute;
    display: none;
    font-size: 1em;
    font-weight: bold;
    opacity: 85%;
    border-radius: 4px;
    padding: 16px;
    color: white;
    transform: translate(-50%, -50%);
  }

  #warning1 {
    top: 50%;
    left: 50%;
    background-color: rgb(227, 0, 0);
  }

  #warning2 {
    top: 35%;
    left: 30%;
    background-color: rgb(26, 56, 156);
  }

  #warning3 {
    top: 70%;
    left: 70%;
    background-color: rgb(219, 150, 0);
  }

  #warning-flash {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 0, 0, 0.5); /* Red with 50% opacity */
    display: none; /* Initially hidden */
  }

  #netflix{
    display: none;
    position: absolute;
    top: 10%;
    right: 10%;
    width: 15%;
  }

  #spotify{
    display: none;
    position: absolute;
    bottom: 0%;
    left: 10%;
    width: 15%;
  }

  #tesla-ad{
    display: none;
    position: absolute;
    top: 70%;
    left: 50%;
  }
}

.shutdown {
  background-color: red;
}
