body {
  max-height: 100vh;
  margin: auto;
  background-color: #242c87;

  box-sizing: border-box;

  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  display: grid;
  gap: 3em;
  grid-template-columns: auto auto auto auto auto auto;

  justify-content: center;
  align-items: center;

  margin: 2em;
}

.title{
  display: flex;
  justify-content: center;
  align-items: center;

  gap: 1em;

}

.letter {
  position: relative;
  border-radius: 50%;
  background-color: black;

  transition: scale 0.5s ease-in-out 0.5s;

  z-index: 0;
}

.letter:hover {
  clip-path: none;
  scale: 1.5;
  transition: scale 0.25s ease-in-out 0s;
}

.clipped {
  clip-path: circle(52px at 52px 52px);
}

.scale-up {
  scale: 1.5;
}

.scale-down {
  scale: 1;
}

.circle {
  border-radius: 50%;
  position: absolute;
  transition: transform 1s ease;

  z-index: 999;
}

.small {
  width: 36px;
  height: 36px;
}

.medium {
  width: 72px;
  height: 72px;
}

.letter,
.large {
  width: 104px;
  height: 104px;
}

.black {
  background-color: black;
}

.blue {
  background-color: #00b3ff;
}

.blend-mode {
  background-color: #00b3ff;
  mix-blend-mode: hard-light;
}

.title {
  display: flex;
  flex-direction: row;
}

button {
  background-color: transparent;
  color: white;
  border: solid 2px white;
  border-radius: 20px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  border: none;
  color: #242c87;
  background-color: #ffffff;
  border: solid 2px #ffffff;
}

#specimen {
  position: absolute;
  top: 1em;
  right: 1em;
}

#display {
  position: absolute;
  top: 1em;
  right: 1em;
}
