body {
  display: grid;
  gap: 2em;
  grid-template-columns: auto auto auto auto auto auto;

  justify-content: center;
  align-items: center;
  max-height: 100vh;
  margin: 0;
  background-color: #242c87;
}

.letter {
  overflow: hidden;
  border-radius: 50%;
  background-color: black;
  clip-path: circle(52px at 52px 52px);
  /* transition: width 0.3s ease-in, height 0.3s ease-in; */
}


 .letter:hover {
  transition: all 0.2s ease-in;
  clip-path: none;
  /* transform: scale(2); */
}

.letter:not(:hover) {
  transition: all 0.5s ease-in;
}


.circle {
  border-radius: 50%;
  position: absolute;
  transition: transform 1s ease;
}

.scale-down {
  transform: scale(0.5); /* Scale the circles down */
}

.scale-up {
  transform: scale(1.5);
}

.return{
  transform: translate(0, 0);
}


.small {
  width: 36px;
  height: 36px;
}

.medium {
  width: 72px;
  height: 72px;
}

.letter,
.large {
  width: 104px;
  height: 104px;
}

.black {
  background-color: black;
}

.blue {
  background-color: #00b3ff;
}

.blend-mode {
  background-color: #00b3ff;
  mix-blend-mode: hard-light;
}

.letter {
  position: relative;
}


